<!DOCTYPE html>
<body>
<div class="container">
    <p>
        Salve,
    </p>
    <p>
in seguito a verifiche fatte dal personale dei Servizi educativi sulla domanda da lei presentata per richiedere i Buoni Miur 2019/2020, si comunica che questa NON E' COMPLETA  E PERTANTO NON PUO' ESSERE ACCOLTA.

Si ricorda che il termine ultimo per completare l'istanza è il 15/10/2020.

Per informazioni rivolgersi allo 0564/488782 -778.

    </p>

    <br />
    <span>Cordiali saluti, </span>
    <br/>
    <em>Comune di Grosseto - Servizi educativi</em>
</div>
</body>
</html>
