{% extends "baseBootstrap4.html" %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

{% block content %}

		<div class="panel-heading pagetitlehome titolopagina" style="padding-top:80px;">
<h3 class="d-flex justify-content-center">Sono scaduti i termini per fare richiesta del buono Miur.</h3>

<br>
<h3 class="d-flex justify-content-center">L'ultimo giorno utile per fare richiesta era il {{ scadenza }}.</h3>

	</div>


  {% endblock  %}
