{% extends "baseBootstrap4.html" %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="it">

{% block content %}
<div  style="padding-left: 50px;padding-top:120px;">
<h4>Abbiamo effettuato la registrazione dei suoi dati per identificazione e verifica dei prerequisiti.<br>
Nel caso l'accertamento vada a buon fine, riceverà via email l'indirizzo della pagina da cui compilare la domanda 
di richiesta di buoni scuola.
<br><br>
Distinti saluti 
</h4>
</div>

{% endblock content %}